body {
  font-size: 16px;
}
.header {
  background-color: #f4483e;
  text-align: center;
}
.header .pull_middle {
  display: inline-block;
}
.header .pull_middle h3 {
  display: inline-block;
  font-size: .24rem;
  color: #fff;
}
/*--------------------------------- main -----------------------------------------------*/
.main {
  padding: .1rem;
}
.main li {
  width: 120px;
  height: 85px;
  text-align: center;
  float: left;
  border: 1px solid #ccc;
  margin: .05rem;
  padding-top: .1rem;
}
.main li img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}
